.myDiv{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 2rem;
}
.button{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 4px;
}

/* INCREMENT BUTTON */
/* INCREMENT BUTTON */
/* INCREMENT BUTTON */
#button1{
    border-color: red;
}
#button1:hover{
    background-color: red;
    color: white;
}
#button1:active{
    background-color: white;
    color: black;
}

/* RESTART BUTTON */
/* RESTART BUTTON */
/* RESTART BUTTON */
#button2{
    border-color: orange;
}
#button2:hover{
    background-color: orange;
    color: white;
}
#button2:active{
    background-color: white;
    color: black;
}

/* REDUCTION BUTTON */
/* REDUCTION BUTTON */
/* REDUCTION BUTTON */
#button3{
    border-color: green;
}
#button3:hover{
    background-color: green;
    color: white;
}
#button3:active{
    background-color: white;
    color: black;
}
@media screen and (max-width: 480px){
    .myDiv{
        font-size: 2rem;
    }
    .button{
        width: 80%;
        display: flexbox;
        align-items: center;
        justify-content: center;
        transition-duration: 0.3s;
    }
    #counterText{
        font-size: 5rem;
    }
}